Initial workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "responses": {
          "values": [
            {
              "content": "= I'm gonna send you a JSON with the information of the last email: that I've received. The JSON is a list of objects, and each one has a text (the body of the email), a subject and a from (the nan of the sender)\nGive me a general summary of those emails and the most important things that I should know\nDon't write the output in Markdown, just regular text\nThis is the JSON:\n{{  $json.data.toJsonString() }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        384,
        -288
      ],
      "id": "493e5ca2-384a-4666-941a-87e60f8d7672",
      "name": "Message a model",
      "notesInFlow": false,
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "openAiApi": {
          "id": "fkAAxfnb85YKTiB4",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c202ab32-ee95-4dd5-a6b1-0811100eef29",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "c79dfcfc-14f4-4474-961d-04d30562b692",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "ea266230-ebec-4b92-b719-d359ac7d615a",
              "name": "from ",
              "value": "={{ $json.from.value[0].name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        -288
      ],
      "id": "e8d01d54-f0d2-40c7-b15c-3b6dcccba676",
      "name": "Edit Fields",
      "notesInFlow": true,
      "notes": "manual"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 21
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -784,
        -288
      ],
      "id": "6e72557e-8a53-4d04-8724-bf609d6adcb6",
      "name": "Schedule Trigger",
      "notesInFlow": false,
      "notes": "\n"
    },
    {
      "parameters": {
        "operation": "getAll",
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -480,
        -288
      ],
      "id": "4b72353e-139f-4e34-a6fb-66d5c17211d2",
      "name": "Get many messages",
      "webhookId": "484136cb-0b7d-4865-9399-a4c5236b0cb7",
      "notesInFlow": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "M9yJPFQQ7IBbTvvL",
          "name": "Gmail account"
        }
      },
      "notes": "getAll: message"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2af3aaa0-e42c-4841-b210-b69a610fc8ee",
              "leftValue": "={{ new Date($json.date) >= new Date(Date.now() - 24 * 60 * 60 * 1000) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -256,
        -288
      ],
      "id": "d19f6348-28ce-4c82-ba9b-6262342d0016",
      "name": "Filter",
      "notesInFlow": false
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {
          "includeBinaries": false
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        192,
        -288
      ],
      "id": "8bc086ca-541b-46d9-95f2-3b11e6278426",
      "name": "Aggregate",
      "notesInFlow": true
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AP07GLUJ2",
          "mode": "list",
          "cachedResultName": "ai-automation"
        },
        "messageType": "block",
        "blocksUi": "=[{ \n   \"type\": \"header\", \n  \"text\": { \n  \"type\": \"plain_text\", \n   \"text\": \"Email Summary\" \n} \n} \n]",
        "text": "=:bust_in_silhouette::bust_in_silhouette::bust_in_silhouette::bust_in_silhouette::bust_in_silhouette::bust_in_silhouette::bust_in_silhouette:\n\n{{ $item(0).$node['Message a model'].json['output'][0]['content'][0]['text'] }}\"\n",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        688,
        -288
      ],
      "id": "b57facda-c06d-4c2b-bb89-218a229b8ee5",
      "name": "Send a message",
      "webhookId": "95e4ad19-312b-4188-9871-7c5a0e0b525f",
      "notesInFlow": true,
      "credentials": {
        "slackOAuth2Api": {
          "id": "UaY0wYdQlqaHsZN4",
          "name": "Slack account"
        }
      },
      "notes": "post: message\nusername → your name\nicon_url → avatar image"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cc271ad1-f3e4-44d5-8342-318adf63ceda",
              "name": "summary",
              "value": "={{$json[\"output\"][0][\"content\"][0][\"text\"]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        -2384
      ],
      "id": "f272d453-6231-4981-be3f-5581f7ca69d6",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        []
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedPerExecution": 0
  },
  "versionId": "02ee7341-1552-4fd9-984e-61d3846f6e0c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f76b3a1ce58af7f903666d3bfccc87d13ea7eac0078e9e4b2de6a10602928b1f"
  },
  "id": "PqDYNaF8lK3e9uSB",
  "tags": []
}